In [ ]:
# Leave days
leave_days = 0

leave_days = leave_days+1
print(leave_days)

1

In [ ]:
# increament variable by value
leave_days +=1
print(leave_days)

4

In [ ]:
#decreament by value
leave_days -=1
print(leave_days)

3

In [ ]:
#we three conditional statement if, elsif,
leave_days = 21

#use boolen
take_leave = True

# decide to take leave
if take_leave: # condition

#if condition is met
   leave_days -=1

   print(leave_days)

20

In [ ]:
grade = 20

if grade > 18: #condition
    print("you can have id")

you can have id

In [ ]:
# If else statements to determine if students have passed of failed
score = 45
#becau the score is above 40, the only the if staement will be executed
if score>40:
    outcome = "Pass" # code to execute if statement is True
    print(outcome) # code to execute when if stetemnet is true
#when the student has asored 40 or below
else:
    outcome = "Fail"
    print(outcome)

Pass

In [ ]:
# If else statements to determine if students have passed of failed
score = 30
#becau the score is above 40, the only the if staement will be executed
if score>40:
    outcome = "Pass" # code to execute if statement is True
    print(outcome) # code to execute when if stetemnet is true
#when the student has asored 40 or below
else:
    outcome = "Fail"
    print(outcome)

Fail

##And
* Used to joind contions
* example students who have scored 40 but below 50 are said to have attaine grade D
*note- for all the conditions have to be True

In [ ]:
age = 12
gender = 'Male'

if age < 18 and (gender == 'Male'): #both the two conditions have to be True
    print('Boy')

Boy

In [ ]:
 #condition not met other condition not defined
age = 19
gender = 'Male'

if age < 18 and (gender == 'Male'): #both the two conditions have to be True
    print('Boy')


##And Condition Summary

|Condition 1| Condition 2| Final Condition|
|:---------:|:----------:|:--------------:|
|True|True|True|
|True|False|False|
|False|True|False|
|False|False|False|

##Conditions for

*above 40 >>D
*above 50 >>c
above 60 >>B
above 70 >>A
below 40 >> fail

In [ ]:
#Grades
grade = 67

if (grade >= 40) and (grade <50):
    grade = "D"
    print(grade)
   # elif statement (alse if)
elif (grade >50) and (grade <=60):
    grade = 'C'
    print(grade)
elif (grade >= 60) and (grade < 70):
    grade = 'B'
    print(grade)

elif (grade >=70): #score above 70
    grade = "A"
    print(grade)
else:                   #alternative
    print("Fail")

B

##OR CONDITION
.Atleast one condition should be true

In [ ]:
height = 45
weight = 20
if (height >40) or (weight >50):
    print("you can go into the bouncing castle")

you can go into the bouncing castle

In [ ]:
#condition not met and else condition not defined: hence no output
height = 45
weight = 20
if (height <40) or (weight >50):
    print("you can go into the bouncing castle")

In [ ]:
#condition not met and else condition defined: hence no output
height = 45
weight = 20
if (height <40) or (weight >50):
    print("you can go into the bouncing castle")
else:
    print(0)

0

In [72]:
#Q1 Determination whether number is even or odd
number = 23
if (number%2==0):
    print('Even')
else:
    print('Odd')
#Alternative print format
number = 22
if (number%2==0):
    print(f"{number} is an even number.")
else:
    print(f"{number} is an odd number.")

Odd
22 is an even number.


. Age < 13  price Ksh 400
.13 <= Age <=17 Ksh 600
.18 <= Age 65 <= Ksh 800
.Age > 65 Ksh 350

In [76]:
#Q2 determining leap year
year =2000
if (year %4 ==0) and (year %100!=0) or (year %400==0):
    print("Leap year")
else:
    print('Not a leap year')
#alternative print format
year =2003
if (year %4 ==0) and (year %100!=0) or (year %400==0):
    print(f"{year} is a Leap year.")
else:
    print(f"{year} is not Not a leap year.")

Leap year
2003 is not Not a leap year.

In [ ]:



# Q3: Determination of price of movie theatre
age =106
if (age <13):
   price = ('Ksh 400')
   print(price)
elif (age >13) and (age <=17):
    price = ('Kshs 600')
    print(price)
elif (age >=18 and (age <=65)):
    price = ('Ksh 800')
    print(price)
elif (age > 60):
    price = ('Kshs 350')
    print(price)

Kshs 350