##lIST
*Collection of items in a particular order.
*can include strings,integers and any other data types including a list
* You can add anything in a list and the items in your list don't have to be related in a particular way.
*Use aquare brackets ```[]`` to indicate a list and indivial items in the list are separated by commas.

**syntax**: ```[item_1, item_2, Item_3]```

In [ ]:
#example
fruits = ["mango","Banana","Orange","Apple",1]
print(fruits)

['mango', 'Banana', 'Orange', 'Apple', 1]

In [ ]:
type(fruits)

list

In [ ]:
#example 2
phone_no = [142536,67845,788565699]

## accesing items in a list
*Lists are ordered collections, i.e you can acces individual items in a list by telling python the posisition of an item in a list is refered to as *index*
*Syntax to acces items in a list
*index position start at 0

list_name[index]

In [ ]:
#Accessing items in a list
#access banana
print(fruits[1])

#changing case
print(fruits[3].upper())
#using negative indexing starts with the last atem
#starts -1
print(fruits[-1])

Banana
APPLE
1

In [ ]:
#using individual items in a list
message = f"Gilbert likes {fruits[-1]}, especially the green ones."
print(message)

Gilbert likes 1, especially the green ones.

##MODIFYING , ADDING AND REMOVING ITEMS IN A LIST
*Lists are dynamic i.e Most of the list you will add items and creat,remove and delete the entire list

#

In [ ]:
#modifying items in a list
courts = ['Supreme', 'high coat']
print(courts)

['Supreme', 'high coat']

In [ ]:
# access the court first the assign the courrected versios i.e court[1]
courts[1] = "High Court"
print(courts)

['Supreme', 'High Court']

Adding items to a list-introducing new items to the list

In [ ]:
#Adding items to a list-introducing new items to the list
# 1. adding an elements at the end of a list . you append(item)
courts.append("magistrtate court")
print(courts)

# 2. Insert an item at a specific position we want
    # syntax .insert(index,item)

#Example insert court of appeal in the list of courts Nb: if you run twice it will add another one put condions
courts.insert(1,"court of appeal")
print(courts)

['Supreme', 'court of appeal', 'High Court', 'magistrtate court', 'magistrtate court', 'magistrtate court']
['Supreme', 'court of appeal', 'court of appeal', 'High Court', 'magistrtate court', 'magistrtate court', 'magistrtate court']

In [ ]:
#removing items in a list
#1. using .pop() removes an item at the end of a list
fruits.pop() # the item "1" in the list is removed note if you run twice the next fruit is removed
print(fruits)

#2 use .pop(index)
fruits.pop(0)
print(fruits)

IndexError: ignored

In [ ]:
#3. Use .remove(item_value) to remove item by value #use when you don't know its index of item
courts.remove("High Court")
print(courts)

['Supreme', 'court of appeal', 'court of appeal', 'magistrtate court', 'magistrtate court', 'magistrtate court']

In [ ]:
#Using delete(del) statement to remove item in a list
#syntax del list_name[index]
del courts[1]
print(courts)

['Supreme', 'court of appeal', 'magistrtate court', 'magistrtate court', 'magistrtate court']

##DICTIONARY
. we access values using "Key"

In [ ]:
Fruit_list = ["mango",["PawPaw","Oranges"],"Guava"] # this list has three items i.e mango, next set(paw and oranges) and then Oranges
print(Fruit_list[1])#  accessing the  set number two (paw paw and oranges)
print(Fruit_list[1][1].upper()) # capitalizing the Orange

['PawPaw', 'Oranges']
ORANGES

In [ ]:
noise_makers = ["Antonny","Kocheli","Kirui","Chemu","Nyambane"]
#checking item in a list
if "Antonny" in noise_makers:
    print("Present")


    #Adding items not in list
if "Margaret" in noise_makers: # operation of bolean
    print(present)
else:
    noise_makers.append("Margaret")
    print(noise_makers)

Present
['Antonny', 'Kocheli', 'Kirui', 'Chemu', 'Nyambane', 'Margaret']

In [ ]:
# checking item not in the list
if "Everlyne" not in noise_makers:
    print("List corrupted")
# Adding the name in the list
noise_makers.insert(0,"Everlyne") #inserting in the first position
print(noise_makers)

['Everlyne', 'Everlyne', 'Antonny', 'Kocheli', 'Kirui', 'Chemu', 'Nyambane', 'Margaret']

## Determining the length of your list

In [ ]:
#functions
#size of a list
len(noise_makers)

8

In [ ]:
# CREATING LIST OF NUMBERS
number = [1,2,3,4

In [ ]:
countries = ['Croatia',

'USA',

'Argentina',

'Mexico',

'USA',

'Morocco',

'New Mexico',

'Finland',

'Argentina',

'Italy',

'Canada',

'South Korea']

italy = None # 'Italy'

italy = (countries[9])
print(italy)

Italy

In [ ]:
mexico = None

mexico = (countries[3])
print(mexico)

Mexico

In [ ]:
kindof_neighbors = None

kindof_neighbors = f"{countries[1]}, {countries[2]},{countries[3]},{countries[4]}"
print(kindof_neighbors)

USA, Argentina,Mexico,USA

In [ ]:
#Adding a country into the list
countries.append('Malta')
print(countries)
del countries[13]
print(countries)

['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'New Mexico', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea', 'Malta', 'Malta', 'Malta']
['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'New Mexico', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea', 'Malta', 'Malta']

In [ ]:
#adding Thailand into the list
countries.append('Thailand')

In [ ]:
print(countries)

['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'New Mexico', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea', 'Malta', 'Malta', 'Thailand']

In [ ]:
#modify a list # change New Mexico to USA
countries[6] = 'USA'
print(countries)

['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'USA', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea', 'Malta', 'Malta', 'Thailand']

In [ ]:
#Removing Thailand from the list
countries.pop()
print(countries)

['Croatia', 'USA', 'Argentina', 'Mexico', 'USA', 'Morocco', 'USA', 'Finland', 'Argentina', 'Italy', 'Canada', 'South Korea', 'Malta']

#REMOVING DUBLICATES FROM A LIST WE USE **SET(put your list here)** AND **LIST**

In [ ]:
# Removing duplicated from the countries
unique_countries = None # our new variable
unique_countries = list(set(countries))
print(unique_countries)

['Argentina', 'South Korea', 'Italy', 'Malta', 'Morocco', 'Mexico', 'Canada', 'Croatia', 'Finland', 'USA']

In [30]:
sizecountries = len(countries)
print(sizecountries)

13

In [31]:
sizeuniquecountries = len(unique_countries)
print(sizeuniquecountries)

10

In [35]:
number_of_repeats =sizecountries-sizeuniquecountries
print(number_of_repeats)

3